* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* LAYOUT */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
header {
    background: #0f172a;
    color: white;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header nav {
    margin-top: 20px;
}

header nav a {
    color: #cbd5f5;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: white;
}

/* SECTIONS */
.section {
    padding: 60px 0;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #0f172a;
}

.gray {
    background: #f1f5f9;
}

/* GRID */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARDS */
.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* PROJECT */
.project h3 {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }
}

/* ÍCONE SKILLS*/
.skill-card {
    padding: 20px;
}

.skill-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.skill-icon {
    font-size: 24px;
    color: #000000;
}

.skill-card h3 {
    font-size: 1.1rem;
    color: #0f172a;
}

.skill-card p {
    font-size: 0.95rem;
    color: #444;
}

/*IMAGENS PROJETOS*/
.project img {
    width: 100%;
    border-radius: 8px;
    margin: 12px 0;
    object-fit: cover;
}

.project p {
    font-size: 0.95rem;
}

.project {
    overflow: hidden;
}

.project img {
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.05);
}

.skill-icon-img {
    width: 28px;
    height: 28px;
}

/*Botão git projetos*/
.btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 15px;
    padding: 8px 14px;
    font-size: 0.9rem;
    background: #f1f5f9;
    color: #0f172a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #e2e8f0;
    transform: translateY(-2px);
}

.project {
    display: flex;
    flex-direction: column;
}

.project .btn {
    margin-top: auto;
    align-self: center;
}

.project p{
    margin-bottom: 18px;;
}

/*Projeto botão power bi*/
.project-buttons {
    margin-top: auto;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.btn-secondary {
    background: #e2e8f0;
    font-size: 12px;
}

.btn-secondary:hover {
    background: #cbd5e1;
}
.btn-icon {
    width: 5px;
    height: 5px;
}
.btn-powerbi {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f5dc84;
    color: #5c4a00;
}
.btn-powerbi:hover {
    background: #efd46f;
}

@media (max-width: 768px) {
    .project .btn {
        background: #f1f5f9;
        border: 1px solid #cbd5e1;
        padding: 8px 14px;
        border-radius: 8px;
    }

    .project .btn-powerbi {
        background: #f5dc84;
        border-color: #e6c75f;
        color: #5c4a00;
    }
}
